<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bj4.yhh.utilities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.bj4.yhh.utilities.UtilitiesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- activities -->
        <activity
            android:name="com.bj4.yhh.utilities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- services -->
        <service
            android:name="com.bj4.yhh.utilities.music.MusicPlayService"
            android:process=":services" />
        <service
            android:name="com.bj4.yhh.utilities.music.MusicParseService"
            android:process=":services" />
        <service
            android:name="com.bj4.yhh.utilities.weather.WeatherService"
            android:process=":services" />
        <service
            android:name="com.bj4.yhh.utilities.weather.LoadCitiesListService"
            android:process=":services" />
        <service
            android:name="com.bj4.yhh.utilities.UpdateManagerService"
            android:process=":services" />
        <!-- floating window -->
        <service
            android:name="com.bj4.yhh.utilities.floatingwindow.FloatingWindowService"
            android:process=":floating_services" />
        <!-- Broadcast receiver -->
        <receiver android:name="com.bj4.yhh.utilities.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- widgets -->
        <!-- 2*4 -->
        <receiver
            android:name="com.bj4.yhh.utilities.weather.WeatherWidgetTwoFour"
            android:label="@string/weather_widget_normal_two_four_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_two_four" />
        </receiver>
        <!-- 1*4 -->
        <receiver
            android:name="com.bj4.yhh.utilities.weather.WeatherWidgetOneFour"
            android:label="@string/weather_widget_normal_one_four_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_one_four" />
        </receiver>

        <activity
            android:name="com.bj4.yhh.utilities.weather.WeatherWidgetConfiguration"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name="com.bj4.yhh.utilities.weather.WeatherWidgetUpdateService" />
        <!-- mix panel -->
        <receiver
            android:name="com.mixpanel.android.mpmetrics.InstallReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!-- mix panel -->
        <!-- <activity -->
        <!-- android:name="com.mixpanel.android.surveys.SurveyActivity" -->
        <!-- android:theme="@style/com_mixpanel_android_SurveyActivityTheme" /> -->
    </application>

</manifest>